//{border:1px solid black;}
body {
	background-image:url('images/paper.jpg');
	background-color:beige;
	width:960px;
	margin:auto;
	border:1px solid black;
	padding: 1px 5px 1px 5px
	}
div.fieldSet{
    border: solid black thin;
	width: 600px;
    background-color: #8C9FAB;
	margin: 0 0 20px 0;
}
fieldset {
    border: none;
    margin: 0px 0px 0px 10px;
    padding: 0px;

}
legend {
    font-size: 25px;
    background-color: #9FAB8C;
    color: white;
    width: 100%;
    padding: 5px 5px 5px 15px;

}
label.field {
    text-align: right;
    width: 150px;
    float: left;
    font-weight: bold;
    margin: 0px 0px 0px 5px;
}
fieldset p {
    clear: both;
    padding: 5px 0px 0px 5px;
	}
	
.textbox-input {
	width:150px;
	float:left;
	margin: 0px 0 5px  10px;
	padding: 1px 1px 1px 5px;
}

.radioButton {
display: block;
width1:100px;
margin1: 0px 0 0 50px;
padding1: 0 10px 0 10px;




}